from utils import _slugify as slug

VERSION = 0.2
MEMCACHE_TIMEOUT = 150
THRESHOLD = 0.18
SNMP_VERSION = 2
SNMP_COMMUNITY = 'comm'
MAIL_TO = ['example1@org.com', 'example2@org.com', 'example3@org.com']
MONITORED_IFCES = [{'host': 'example.com', 
                    'ifIndex':611,
                    'name': "MAIN-CONN", 
                    "type":"traffic", 
                    "THRESHOLD": THRESHOLD,
                    "SNMP_VERSION": SNMP_VERSION,
                    "SNMP_COMMUNITY": SNMP_COMMUNITY,
                    "DETECTION_ALGO": 'stdev',
                    "NOTIFY": MAIL_TO,
                    },
                   {'host': 'example.com', 
                    'ifIndex':611,
                    'name': "MAIN-CON", 
                    "type":"packets", 
                    "THRESHOLD": 0.30,
                    "SNMP_VERSION": SNMP_VERSION,
                    "SNMP_COMMUNITY": SNMP_COMMUNITY,
                    "DETECTION_ALGO": 'stdev',
                    "NOTIFY": ['example55@org.com'],
                    },
           ]
for i in MONITORED_IFCES:
    i['slug'] = str(slug("%s_%s_%s_%s" %(i['host'], i['ifIndex'], i['name'], i['type'])))

STEP = 60
HEARTBEAT = STEP * 3
RRD_LOCATION = "/tmp"
MAIL_FROM = "no-reply@example.com"


GRAPH_TYPES = {"traffic":['ifHCInOctets', 'ifHCOutOctets'],
               "packets":['ifInUcastPkts', 'ifOutUcastPkts']}
GRAPH_CDEF_MULTIPLIERS = {"traffic":[8, 8],
                          "packets":[1, 1]}
GRAPH_TITLES = {"traffic":['In Traffic', 'Out Traffic'], 
                "packets":['In Packets', 'Out Packets'],}
GRAPH_VERTICAL_LEGEND = {"traffic":"bits per second", 
                         "packets":"packets per second",}
GRAPH_OPTIONS = {"traffic":['AREA', 'LINE1'],
                 "packets":['AREA', 'LINE1'],}
GRAPH_COLORS = {"traffic":['#00B2EE', '#ff0000'],
                "packets":['#00B2EE', '#ff0000']}

GRAPH_EMBED_AND_SHIFT = True

NFDUMP_ENABLE = False
NFDUMP_HOST = 'nfexample.example.com'
NFDUMP_PORT = 1234
NFDUMP_TIMEOUT = 10

MEMCACHE_SERVER_ADDR = '127.0.0.1'
MEMCACHE_SERVER_PORT = 11211
